.poppins-medium {
    font-family: "Poppins", serif;
    font-weight: 500;
    font-style: normal;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: rgb(201, 201, 201);
    scroll-behavior: smooth;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto auto auto auto auto;
    grid-template-areas:
    "header header header header header"
    "menu   menu   menu   menu   menu"
    "main   main   main   main   main"
    "bilde  bilde  bilde  bilde  bilde"
    "footer footer footer footer footer";
}

.header {
    grid-area: header;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    height: 200px;
    justify-content: center;
    align-items: center;
    display: flex;
    font-family: "Poppins", serif;
}


.menu {
    grid-area: menu;
    position: sticky;
    top: 0;
    align-content: space-around;
    z-index: 999;
}

.main {
    grid-area: main;
    margin: 1rem;
    padding: 1rem;
    font-family: "Poppins", serif;
    align-content: space-between;
    justify-content: center;
    display: flex;
    gap: 2rem;

}

.bilde {
    grid-area: bilde;
    margin: 1rem;
    padding: 1rem;
    font-family: "Poppins", serif;
    align-content: space-between;
    justify-content: center;
    display: flex;
    gap: 2rem;
    background: wheat;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
}

.footer {
    grid-area: footer;
    background: black;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Poppins", serif;
    color: white;
}



/* menu/dropdown meny */

* {
    padding: 0;
    margin: 0;
}

ul {
list-style: none;
background: #000000;
box-shadow: 3px 3px 3px rgba(66, 66, 66, 0.3);

transition: all 1s ease;
}

ul li {
display: inline-block;
position: relative;
}

ul li a {
font-family: "Poppins", serif;
display: block;
padding: 20px 25px;
padding: 20px 50px;
color: white;
text-decoration: none;
text-align: center;
font-size: 20px;
}

ul li ul.dropdown li {
display: block;
}

ul li ul.dropdown {
width: 100%;
background: #3186db;
position: absolute;
z-index: -1;
/* z-index: 99; */
display: none;
box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1);
transition: all 1s ease;
}

ul li a:hover {
background: #123456;
transition: 0.5s;
/* transition: all 1s ease; */

}

ul li:hover ul.dropdown {
display: block;
transition: 1s;
}
.dropdown li {
    width: 100%;
}



/* forskjellige tekst */

.footerText {
    overflow: hidden;
}


/* logo på enden som sender deg til hovednettsiden */
.logo {
    width: 3rem;
    transition: 1s;
    margin-left: 20px;
}

.logo:hover {
    transform: scale(1.50);
    transition: 0.5;
}

@media screen and (max-width: 800px) {
    html, body {
        width: 100%;
    }

    .grid-container {
        display: flex;
        grid-template-columns: auto;
        grid-template-rows: auto auto auto auto;
        grid-template-areas:
        "header"
        "menu"
        "main"
        "footer";
    }

    nav ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .flexbox {
        display: flex;
        justify-content: center;
        justify-items: center;
        align-items: center;
        flex-wrap: wrap;
        border: solid 5px black;
        height: 250px;
        width: 250px;
        box-shadow: 3px 3px 3px rgba(66, 66, 66, 0.9);
    }

    .main-h1 {
        font-size: 1.2rem;
    }

    p {
        font-size: 0.8rem;
    }
}

.flexbox {
    width: 400px;
    border: solid 5px black;
    height: 400px;
    border: solid 10px black;
    background: wheat;
    width: 400px;
    background: linear-gradient(to bottom right, #14487b, #3186db);
    box-shadow: 3px 3px 3px rgba(66, 66, 66, 0.9);
    transition: 0.5s;
    transition: 1s;
}

.flexbox h1 {
    justify-content: center;
    display: flex;
}
.flexbox:hover {
    transform: scale(1.07);
    transition: 1s;
    border-radius: 10%;
    color: white;
    background: linear-gradient(to bottom right, black, rgb(68, 68, 68));
    border: solid 5px orange;
    box-shadow: 7px 7px 7px rgba(66, 66, 66, 0.9);
}

.flexbox p {
    
}
.flexbox h1 {
    margin: 5px;
    padding: 5px;
    display: flex;
    justify-content: center;
    margin: 10px;
}

.flexbox:hover {
    transform: scale(1.05);
    border-radius: 5%;
    transition: 0.5s;
}
.flexbox p {
    margin: 5px;
    padding: 5px;
    /* display: flex;
    justify-content: center; */
}

.bildeAvOmar {
    width: 1200px;
    height: 400px;
    border: solid 2px black;
    /* skal være et bilde */
    background: red;
    box-shadow: 3px 3px 3px rgba(66, 66, 66, 0.9);
}